.container {
	display: flex;
	flex-direction: column;
}

.title {
	margin-top: 5px;
	margin-bottom: 20px;
}

.description {
	max-width: 540px;
}

@media (width < 768px) {
	div.container{
		gap: 20px;
	}
}