.recommendations {
	padding: 12px;
	border-radius: 12px;
	background-color: var(--color-purple-100);
}

.icon {
	flex-shrink: 0;
}

span.indicator {
	margin-top: 8px;
	margin-left: 0;
	width: 4px;
	height: 4px;
	box-shadow: none;
	border-radius: 6px;
	background-color: var(--color-purple-700);
}

p.title {
	line-height: 110%;
}
