.sr-only {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.additional {
	width: 360px;
	height: auto;
}

.button {
	justify-content: center;
	padding: 6px 10px;
	border-radius: 12px;
}

.button:focus {
	border: 1px solid transparent;
}

.banner {
	display: none;
}

@media screen and (width < 1024px) {
	.additional {
		display: none;
	}
	
	.banner {
		display: block;
	}
}
