.env.development
NEXT_PUBLIC_APP_SITE_URL=https://app.yeatwork.ru/
NEXT_PUBLIC_SITE_URL=https://yeatwork.ru/
NEXT_PUBLIC_API_URL=https://api.yeatwork.ru/
NEXT_PUBLIC_APP_ENV=development

.env.production
NEXT_PUBLIC_APP_SITE_URL=https://app.yeahub.ru/
NEXT_PUBLIC_SITE_URL=https://yeahub.ru/
NEXT_PUBLIC_API_URL=https://api.yeahub.ru/
# заменить на production когда будет готово приложение
NEXT_PUBLIC_IS_PROD=development

# NEXT_PUBLIC_YANDEX_METRIKA_ID - использовать для прокидывания id метрики в скрипт