.env.development
NEXT_PUBLIC_SITE_URL=https://yeatwork.ru
NEXT_PUBLIC_API_URL=https://api.yeatwork.ru/

.env.production
NEXT_PUBLIC_SITE_URL=https://yeahub.ru
NEXT_PUBLIC_API_URL=https://api.yeahub.ru/