.content {
	display: flex;
	padding: 20px;
	border-radius: 20px;
}

.image-wrapper {
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

.company-name {
	opacity: 0.53;
	font-weight: var(--font-weight-400);
}

.published-date {
	padding: 4px 12px;
	height: 24px;
	border-radius: 21px;
	background-color: var(--color-green-007);
	font-size: var(--font-size-p-s);
}

.title {
	flex-basis: 100%;
}

.conditions {
	opacity: 0.63;
}

.dot {
	margin: 0;
	width: 3px;
	height: 3px;
	border: none;
	border-radius: 50%;
	background-color: var(--color-dot);
}

.skills {
	padding: 4px 10px;
	border-radius: 68px;
}

.skill {
	font-size: var(--font-size-p-s);
}

.skill-count {
	opacity: 0.53;
	font-weight: var(--font-weight-400);
}

.black-dot {
	background-color: var(--color-black-900);
}

.preparation {
	font-size: var(--font-size-p-s);
}
