.advantages-list {
	gap: 20px;
}

@media (width <= 767px) {
	.advantages-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			'first first'
			'second third';
	}

	.advantages-list div:nth-child(3) {
		grid-area: first;
	}

	.advantages-list div:nth-child(1) {
		grid-area: second;
	}

	.advantages-list div:nth-child(2) {
		grid-area: third;
	}

	.advantages-list div:nth-child(3) div {
		flex-direction: row;
		align-items: flex-end;
		gap: 10px;
	}
}
