.card {
	width: 550px;
}

.flex {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

@media (width < 1280px) {
	.card {
		width: 100%;
	}
}

@media (width < 768px) {
	.flex {
		flex-direction: column;
	}
}
