.main-block {
  width: 100%;
  overflow: hidden;
}

.mobile-view {
  display: none;
}

.desktop-view {
  display: block;
}

.collection {
	width: 100%;
}

.slider-container :global(.slick-slide) > div {
  margin: 0 10px;
}

.slider-container :global(.slick-slide:first-child) > div {
  margin-left: 0 !important;
}

.slider-container :global(.slick-slide:last-child) > div {
  margin-right: 0 !important;
}

.slider-container :global(.slick-list) {
  margin-left: 0;
  overflow: visible;
}

.slider-container :global(.slick-track) {
  display: flex;
  flex-direction: row;
}

button.expand-button {
	display: flex;
	margin: 20px auto;
	width: 100%;
	max-width: 340px;
	height: 44px;
}

@media screen and (width < 768px) {
	.mobile-view {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.desktop-view {
		display: none;
	}
	
}