.strategy-block-wrapper {
	width: 100%;
}

.strategy-block-header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: start;
	margin-bottom: 30px;
}

.indicator {
	display: block;
	width: 7px;
	height: 7px;
	box-shadow:
		0 0 0 2px rgb(207 207 207 / 38%),
		0 0 0 4px rgb(207 207 207 / 20%),
		0 0 0 5px rgb(255 255 255 / 40%);
	border-radius: 50%;
	background-color: var(--color-red-600);
}

.title {
	line-height: 127%;
}

@media (width < 769px) {
	.strategy-block-header {
		display: flex;
		flex-direction: column;
		gap: 18px;
		margin-bottom: 20px;
	}

	.title {
		line-height: 120%;
		font-weight: var(--font-weight-500);
		font-size: var(--font-size-h-s);
	}
}
