button.button {
	display: none;
	border: 1px solid var(--color-black-50);

	&:focus {
		border: none;
	}

	&:hover {
		cursor: pointer;
	}	
}

.drawer {
  width: 328px;
  overflow-x: hidden;


  &.drawer-mobile {
    top: var(--header-height);
    padding-bottom: var(--header-height);
    width: 100%;
  }
}

.main {
  padding: 0;
}

@media (width < 1024px) {
	button.button {
		display: flex;
	}
}