.title {
  max-width: 651px;
  line-height: 109%;
  text-transform: uppercase;
  font-weight: var(--font-weight-600);
  white-space: pre-wrap;
}

@media screen and (width < 1024px) {
  .title {
    max-width: none;
    text-align: center;
    line-height: 109%;
    font-weight: var(--font-weight-600);
  }
}

@media screen and (width < 768px) {
  .title {
    font-size: var(--font-size-h-xs);
  }
}