.wrapper {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: start;
	gap: 10px;
	margin-bottom: 30px;
}

.block {
	max-width: 487px;
}

@media (width<=768px) {
	.wrapper {
		grid-template-columns: 1fr;
		gap: 20px;
	}

	.block {
		max-width: 460px;
	}

	.title {
		line-height: 120%;
		font-size: 24px;
	}
}
