.container {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 20px;
	padding: 20px;
	width: calc(50% - 10px);
	box-shadow: 0 4px 10px 0 #6a63761a;
  border-radius: 20px;
	background-color: var(--background-block);
}

.img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 30px;
	transform:  translate(-50%, -50%);
}

@media screen and (width < 1024px) {
	.container {
	width: 100%;
	}	
}

@media screen and (width < 768px) {
	.container {
	grid-template-columns:  1fr;
	gap: 10px;
	padding: 0;
	width: 100%;
	background-color: transparent;
	}

	.item {
	gap: 10px;
	padding: 10px;
	box-shadow: 0 4px 10px 0 #6a63761a;
  border-radius: 20px;
	background-color: var(--background-block);
	}
}