h2.title {
	font-size: var(--font-size-h-xs);
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-areas: 
		'title link'
		'list list';
	gap: 20px;
}

.wrapper > *:nth-child(1) {
	grid-area: title;
}

.wrapper > *:nth-child(2) {
	grid-area: link;
}

.wrapper > *:nth-child(3) {
	grid-area: list;
}

.link {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 8px;
	color: var(--link-text-color-primary);
	font-weight: var(--font-weight-600);
}

.link:hover {
	text-decoration: underline;
}

@media (width < 768px) {
	.wrapper {
		grid-template-columns: 1fr;
		grid-template-areas: 
			'title'
			'list'
			'link';
	}
}