.wrapper {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: start;
	gap: 10px;
}

.media01 {
	position: absolute;
	top: 41px;
	right: 37px;

	img {
		width: 100%;
		max-width: 309px;
		height: auto;
	}
}

.media03 {
	position: absolute;
	top: 38px;
	right: 88px;

	img {
		width: 100%;
		max-width: 235px;
		height: auto;
	}
}

.media05 {
	position: absolute;
	top: 34px;
	right: 97px;

	img {
		width: 100%;
		max-width: 245px;
		height: auto;
	}
}

.media07 {
	position: absolute;
	top: 16px;
	right: 84px;

	img {
		width: 100%;
		max-width: 255px;
		height: auto;
	}
}

.media09 {
	position: absolute;
	top: 28px;
	right: 93px;

	img {
		width: 100%;
		max-width: 255px;
		height: auto;
	}
}

@media (width < 1280px) {
	.wrapper {
		grid-template-columns: 1fr;
	}

	.title {
		display: none;
	}
	
	.media01 {
		top: 44px;
		right: -5px;
	}

	.media03 {
		top: 57px;
		right: 18px;
	}

	.media05 {
		top: 50px;
		right: 20px;
	}

	.media07 {
		top: 52px;
		right: 23px;

		img {
			max-width: 214px;
		}
	}

	.media09 {
		top: 58px;
		right: 17px;

		img {
			max-width: 196px;
		}
	}
}

@media (width < 768px) {
	.media01 {
		top: 64px;
		right: 0;

		img {
			max-width: 214px;
		}
	}

	.media03 {
		img {
			max-width: 211px;
		}
	}

	.media05 {
		img {
			max-width: 196px;
		}
	}
}
