.card {
	grid-column: span 4;
	gap: 0 !important;
	padding: 20px;
	height: 161px;
}

.card-content {
	height: 100%;
}

.icon-wrapper {
	flex-shrink: 0;
	width: 29px;
	height: 29px;
}

.title {
	margin-top: auto;
	margin-bottom: 8px;
}

@media (width < 1280px) {
	.card {
		grid-column: auto;
		height: 161px;
	}

	.card:last-child {
		grid-column: 1 / -1;
		height: 121px;
	}

	h3.title {
		font-size: var(--font-size-h-xs);
	}
}

@media (width < 768px) {
	.card {
		padding: 10px;
		height: 141px;
	}

	.card:last-child {
		height: 141px;
	}
}
