div.auth-popover {
	padding: 6px;
	overflow-y: hidden !important; /* important необходим для переопределения стилей портала */
	border: none;
	border-radius: 0 0 6px 6px;
	transform: translateX(0) translateY(11px);
}

.burger-button {
	padding: 0;
	width: fit-content;
	height: fit-content;
	color: var(--color-burger);

	&:hover {
		border-radius: 4px;
    background: transparent;
	}

	&:focus {
		border: none;
		border-radius: 4px;
		background: transparent;
    color: var(--color-burger);
	}

	&:focus-visible {
		outline: none;
		border: none;
		background: transparent;
	}

  &:active {
    background: transparent;
  }
}

.burger-button-skeleton {
	width: 32px;
	height: 32px;
}

@media screen and (width < 768px) {
	.auth-popover {
		transform: translateX(0) translateY(6px);
	}
}

