.info-card-skilled {
	position: relative;
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	gap: 20px;
	padding: 25px;
	width: 804px;
	min-height: 357px;
	overflow: visible;
	box-shadow: 0 4px 10px 0 #6a63761a;
	border-radius: 20px;
	background:
		linear-gradient(101.11deg, rgb(246 246 246 / 0%) 73.72%, rgb(142 120 255 / 67%) 95.19%),
		var(--white-100, #fff);
}

.info-card {
	display: flex;
	gap: 31px;
}

.content {
	display: flex;
	flex-direction: column;
	max-width: 420px;
}

.icon-wrapper {
	margin-bottom: 78px;
	width: 29px;
	height: 29px;
}

.title {
	font-weight: 500;
	font-size: 24px;
}

.description {
	margin-top: 8px;
	max-width: 370px;
	font-weight: 500;
	font-size: 16px;
}

.button {
	margin-top: 20px;
	max-width: 352px;
	height: 48px;
	font-weight: 500;
	font-size: 18px;
}

.badges {
	display: flex;
	gap: 38px;
}

.badge-red {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 26px;
	width: 125px;
	height: 125px;
	box-shadow:
		0 12px 30px 0 #00000040,
		0 -4px 15px 0 #fff3 inset,
		0 2px 6px 0 #0000001a;
	border: 1px solid #f60000;
	border-radius: 10px;
	background: linear-gradient(180deg, #ff4d6d 0%, #d50b3e 100%);
}

.badge-outline {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 85px;
	width: 150px;
	height: 150px;
	box-shadow:
		0 12px 30px 0 #6a0bff0d,
		0 -4px 15px 0 #d8bfff33 inset,
		0 2px 6px 0 #6a0bff12;
	border-radius: 10px;
	background: var(--white-100, #fff);
}

.badge-outline::before {
	position: absolute;
	inset: 0;
	padding: 1px;
	border-radius: 10px;
	background: linear-gradient(138.11deg, #6a0bff -27.99%, rgb(255 255 255 / 0%) 58.22%);
	content: '';
	mask:
		linear-gradient(#fff 0 0) content-box,
		linear-gradient(#fff 0 0);
	mask-composite: xor;
	mask-composite: exclude;
	pointer-events: none;
}

.badge-outline-text {
	font-weight: 700;
	font-size: 40px;
}
