.title {
  color: var(--text-color-bright);
  line-height: 120%;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-h-s);
}

.header {
  margin-bottom: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
}