.stack-wrapper {
	gap: 30px;
}

.stack-content {
	align-items: center;
	gap: 20px;
}

@media (width <= 1024px) {
	.stack-content {
		flex-direction: column;
		align-items: flex-start;
		gap: 0;
	}

	.stack-wrapper {
		gap: 20px;
	}
}

@media (width <= 767px) {
	.stack-wrapper {
		gap: 10px;
	}
 
	.stack-card {
		padding: 8px 10px;
	}
}