.achievements {
  padding: 20px;
  width: 100%;
  max-width: 392px;
  border-radius: 20px;
  background-color: var(--color-white-900)
}

.arrow {
  transition: .3s ease-in-out;
}

.link {
  flex-shrink: 0;
}

.link:hover .arrow {
  transform: translateX(5px);
}

.icon-wrapper {
  width: 20px;
  height: 20px;
}

@media screen and (width < 768px) {
  .achievements {
    max-width: 344px;
  }
}

@media screen and (width < 360px) {
  .achievements {
    padding: 10px;
  }
}