.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  width: 100%;
}

.indicator {
  display: block;
  width: 7px;
  height: 7px;
  box-shadow:
    0 0 0 2px rgb(207 207 207 / 38%),
    0 0 0 4px rgb(207 207 207 / 20%),
    0 0 0 5px rgb(255 255 255 / 40%);
  border-radius: 50%;
  background-color: var(--color-red-600);
}

.description {
  max-width: 458px;
}


@media screen and (width < 768px) {
  .title {
    font-size: var(--font-size-h-s);
  }

  .header {
    grid-template-columns: 1fr;
  }
}