.image {
	border-radius: 3px;
}

.list {
	padding: 6px;
	box-shadow: 0 4px 10px 0 rgb(106 99 118 / 10%);
	border-radius: 8px;
	background: var(--color-black-30);
}

.fallback-image {
	flex-shrink: 0;
	padding: 2px;
	width: 19px;
	height: 19px;
	box-shadow: 0 4px 10px 0 rgb(106 99 118 / 10%);
	border-radius: 4px;
	background-color: var(--background-nav-item);
	fill: var(--color-purple-900);
	color: var(--color-purple-900);
}
