.card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	padding: 20px;
	box-sizing: border-box;
	width: 289px;
	min-height: 361px;
	border-radius: 20px;
	background-color: var(--color-white-900);
}

.icon-wrapper {
	flex-shrink: 0;
	width: 29px;
	height: 29px;
}

.title {
	margin-top: auto;
	font-size: var(--font-size-h-s);
}

.link {
	display: flex;
	align-items: center;
	gap: 8px;
	text-decoration: none;
	font-weight: 500;
}

.text {
	color: var(--color-purple-700);
}

@media (width <= 1024px) {
	.card {
		width: calc((100% - 20px) / 2);
		max-width: none;
		min-height: 278px;
	}
}

@media (width <= 767px) {
	.card {
		padding: 10px;
		width: 100%;
		min-height: 257px;
	}
}
