.card {
	position: relative;
	padding: 20px;
	min-height: 293px;
	border-radius: 20px;
}

.card.card {
	overflow: hidden;
}

.title.highlighted-title {
	font-size: var(--font-size-h-s);
}

.card-content {
	gap: 15px;
	height: 100%;
}

.text-content {
	flex: 1 1 auto;
	justify-content: end;
	min-width: 0;
}

.card-with-image .text-content {
	max-width: 55%;
}

.row {
	flex: 1 1 auto;
	align-items: stretch;
	gap: 20px;
	min-height: 0;
}

.link {
	display: flex;
	align-items: center;
	gap: 8px;
	color: var(--color-purple-700);
	line-height: 1.3;
}

.icon {
	transition: 0.3s ease-in-out;
}

.link:hover .icon {
	transform: translateX(5px);
}

.badge-wrapper {
	align-self: start;
	padding: 6px 12px;
	box-shadow: none;
	border: none;
	border-radius: 21px;
	background-color: var(--color-green-007);
}

.image-wrapper {
	position: absolute;
	right: -50px;
	bottom: -40px;
	width: 288px;
	height: 266px;
	pointer-events: none;
}

.image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

@media screen and (width < 1280px) {
	.title {
		font-size: var(--font-size-h-xs);
	}

	.title.highlighted-title {
		font-size: var(--font-size-h-s);
	}
}

@media screen and (width < 768px) {
	.card {
		padding: 10px;
		min-height: 257px;
	}

	.row {
		flex-direction: column;
	}

	.image-wrapper {
		position: relative;
		right: auto;
		bottom: 0;
		left: 0;
		width: min(320px, 100%);
		height: 295px;
	}

	.card-with-image .text-content {
		max-width: 100%;
	}
}
