div.card {
	padding: 20px;
	height: 367px;
	border-radius: 20px;
}

div.card-content {
	height: 100%;
}

.icon {
	width: 29px;
	height: 29px;
}

.soon-text {
	position: absolute;
	top: 20px;
	right: 20px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 5px 12px;
	width: 67px;
	border-radius: 21px;
	background-color: var(--color-purple-700);
	color: var(--color-white-900);
	font-size: var(--font-size-p-s);
}

.img-container {
	width: 100%;
}

.img-container-vacancy {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-top: 8px;
}

.image-vacancy-one {
	align-self: flex-start;
	width: 100%;
	max-width: 274px;
	height: auto;
	box-shadow: var(--main-shadow);
	border-radius: 8px;
}

.image-vacancy-two {
	align-self: flex-end;
	width: 100%;
	max-width: 274px;
	height: auto;
	box-shadow: var(--main-shadow);
	border-radius: 8px;
}

.button-link {
	display: flex;
	flex-direction: row;
	gap: 8px;
	border: none;
	background-color: inherit;
	color: var(--color-purple-700);
	line-height: 130%;
	font-weight: var(--font-weight-500);
	font-size: var(--font-size-p-m);
	cursor: pointer;
}

.button-link-ats {
	width: 93px;
}

.button-link-vacancy {
	width: 106px;
}

.image-before-after {
	width: 100%;
	min-width: 0;
	max-width: 220px;
	height: auto;
	object-fit: contain;
}

.image-keywords {
	width: 100%;
	max-width: 297px;
	height: auto;
}

@media (width < 1280px) {
	div.card {
		padding: 16px;
		height: 391px;
	}

	div.card:first-child {
		height: 310px;
	}
	
	div.card:first-child div.content {
		flex-direction: row-reverse;
		align-items: flex-end;
	}

	.soon-text {
		top: 16px;
		right: 16px;
	}

	.soon-text-ats {
		top: 16px;
		left: 16px;
	}

	.img-container-ats {
		height: 100%;
	}

	.img-container-vacancy {
		margin-top: 17px;
	}

	.image-before-after {
		max-width: 100%;
	}
}

@media (width < 768px) {
	div.card:first-child div.content {
		flex-direction: column;
	}
	
	.icon {
		display: none;	
	}
	
	div.card {
		padding: 16px 10px;
		height: 358px;
	}

	.card-ats {
		flex-direction: column;
	}

	.soon-text {
		top: 16px;
		left: 10px;
	}

	.soon-text-ats {
		top: 16px;
		left: 10px;
	}

	.img-container-vacancy {
		margin-top: 54px;
	}

	.image-keywords {
		max-width: 297px;
	}

	.image-before-after {
		max-width: 175px;
	}
}
