.header-popover {
  padding: 0;
  overflow-y: hidden !important; /* important необходим для переопределения стилей портала */
	box-shadow: 0 5px 10px -2px rgb(0 0 0 / 12%);
  border: none;
  border-radius: 0 0 20px 20px;
	
}

.button.inverted {
	background: var(--background-header);
	color: var(--text-color-header);
}

.button:hover{
  text-decoration: none;
}

.arrow-open {
  transform: rotate(180deg);
}

@media (width < 1200px) {
	.header-popover {
		transform: translateY(10px);
	}
}

@media (width < 768px) {
	.header-popover {
		width: calc(100vw - 24px);
		transform: translateY(6px);
	}
}