.community-list {
	justify-content: space-between;
	gap: 20px;
	width: 100%;
}

@media (width <= 1024px) {
	.community-list {
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media (width <= 767px) {
	.community-list {
		gap: 12px;
	}
}
