.description {
	flex: 1;
	white-space: pre-line;
}

.description-wrapper {
	padding-top: 11px;
}

@media (width < 1280px) {
	.description-wrapper {
		flex-direction: row;
		padding-top: 0;
	}
}

@media (width < 768px) {
	.description-wrapper {
		flex-direction: column;
		gap: 10px;
		margin-bottom: 10px;
	}
}
