.header {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 10px;
	width: 100%;
}

.indicator-wrapper {
	align-self: start;
}

.indicator {
	display: block;
	width: 7px;
	height: 7px;
	box-shadow:
		0 0 0 2px rgb(207 207 207 / 38%),
		0 0 0 4px rgb(207 207 207 / 20%),
		0 0 0 5px rgb(255 255 255 / 40%);
	border-radius: 50%;
	background-color: var(--color-red-600);
}

.title {
	line-height: 1.27;
}

.description {
	margin-top: 10px;
	max-width: 443px;
}

@media screen and (width < 1280px) {
	.header {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.title {
		line-height: 1.2;
		font-size: var(--font-size-h-s);
	}
}
