.page {
	width: 100%;
	height: calc(100vh - var(--header-height) - var(--header-height-sm) - 48px);
}

.content-wrapper {
	height: 100%;
}

.content {
	height: 100%;
}

@media screen and (width < 1024px) {
	.content-wrapper {
		height: auto;
	}

	.content {
		flex-direction: column;
	}

	.page {
		height: auto;
	}
}
