.additional {
  width: 360px;
  height: auto;
}

.back-button {
  margin-bottom: 24px;
}

@media screen and (width < 1024px) {
  .back-button {
    margin-bottom: 20px;
  }
	
	.additional {
		display: none;
	}
}

@media screen and (width < 768px) {
  .back-button {
    margin-bottom: 16px;
  }
}