.soon_wrap {
	min-width: 67px;
	height: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-purple-700);
	border-radius: 21px;
}
.soon_text {
	font-weight: 500;
	font-size: 14px;
	color: var(--color-white-900);
}
